$ocBlue: #1c283c;
$ocLightBlue: #428bca;
$ocEnterprise: #D25D2C;
$white: #fff;
$lightgray: #f7f7f9;
$lightdarkgray: #eceeef;

/* MEDIA QUERIES */
$media-small: 576px;
$media-medium: 768px;
$media-large: 992px;
$media-xlarge: 1200px;

// FONT
$bold: 600;

// OCCON COLORS
$occon-yellow: #c7ef00;
$occon-green: #00ffc5;
$occon-blue: #3980c3;
$occon-pink: #f433ab;
