/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";
@import "fontawesome/font-awesome.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
  background-color: #EFEFEF; font-size: 16px; font-family: FontAwesome, sans-serif;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn-lg {font-size: 1.125em; font-height: 1.25;}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
  background-color: #1D2D44;
    img {padding-top: 5px; padding-bottom: 5px;}
    ul#menu-header.nav {float: right; padding-top: 20px;
     > li > a {color: #FFFFFF; font-size: 1.25em;}
     > li.menu-install a {background-color: #428BCA; border-radius: 6px; border-color: #357EBD; margin-top: 4px; margin-left: 10px; padding: 10px 16px; font-size: 1.125em; line-height: 1.25;}
    }
}



/* ==========================================================================
   Content
   ========================================================================== */

.page-template-front-page-php {
  .row {padding-top: 30px; padding-bottom: 30px;}
}


.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  background-color: #1D2D44;
  div.row {padding-top: 30px;}
  &.content-info {
    section {.make-lg-column(4);}
    h3 {color: #FFFFFF; padding-bottom: 10px;}
    ul {list-style: none; padding-left: 0;}
    a {color: #AAAAAA;}
    .caret {border-top-color: #AAAAAA;}
   }
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
