/*---- Teaser ----*/
 
 header {
   background-attachment: scroll;
   background-image: url(../img/home/720p.jpg);
   background-position: center center;
   background-repeat: none;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   border: 0px;
   min-height: 800px !important;
   z-index: 0 !important;
}


.menu-install {
	background: #35537a !important;
}

.menu-install:hover  {
	background: #2A6496 !important;
}

body {
    background: white;
}

.teaser-area  {
  color: #FFF;
}

.teaser-area .btn-primary {
    font-size: 24px;
    padding: 18px 24px;
    margin-top: 20px;
    background: #35537a;
    border: 1px solid #35537a;
}

.teaser-area .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    margin-top: 20px;
    background: #2A6496;
    border: 1px solid #2A6496;
}

.intro-text {
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
  margin-top:  25%;
}

.intro-text h1 {
  font-size: 58px;
  line-height: 60px;
}

.intro-text p {
  font-size: 26px;
  line-height: 28px;
}

.home-features {
    margin-top: 70px;
    text-align: center;
}

.home-features .icon {
        font-size: 50px;
}

.home-features a:hover  {
  text-decoration: none;
  color: #2A6496;
}

.users {
    margin-top: 90px;
    text-align: center;
}

.users h2 {
    font-weight: 300;
}

.home-social {
	margin-top: 70px;
	text-align: center;
}

.home-social .icon {
	font-size: 50px;
}

.home-social a {
/* 	color: #1d2d44; */
/* 	text-decoration: underline; */
}

.home-social a:hover  {
/* 	text-decoration: none; */
	color: #2A6496;
}


/* handle landscape */


@media only screen and (max-width: 700px) {
	header {
		background-image: url(../img/home/h900p.jpg);
                min-height: 500px !important;
	}
	.teaser-area  {
                color: #FFF;
        }

        .teaser-area .btn-primary {
                font-size: 18px;
                padding: 12px 18px;
                margin-top: 10px;
                background: #35537a;
                border: 1px solid #35537a;
        }
        .teaser-area .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
                margin-top: 15px;
                background: #2A6496;
                border: 1px solid #2A6496;
        }
        .intro-text {
                text-shadow: 0px 0px 50px rgba(0, 0, 0, 35.9);
                margin-top:  10%;
        }       
        .intro-text h1 {
                font-size: 36px;
                line-height: 38px;
        }
        .intro-text p {
                font-size: 18px;
                line-height: 20px;
        }
}

@media only screen and (min-width: 700px) and (max-width: 862px) {
	header {
		background-image: url(../img/home/720p.jpg);
                min-height: 800px !important;
	}
	.intro-text {
		margin-left: 7%;
	}
}

@media only screen and (min-width: 862px) and (max-width: 992px) {
	header {
		background-image: url(../img/home/720p.jpg);
	}
	.intro-text {
		margin-left: 11%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	header {
		background-image: url(../img/home/1080p.jpg);
	}
	.intro-text {
		margin-left: 10%;
	}
	
}

@media only screen and (min-width: 1200px) and (max-width: 1400px)  {
	header {
		background-image: url(../img/home/1440p.jpg);
	}
	.intro-text {
		margin-left: 5%;
	}
	
}

@media only screen and (min-width: 1400px) {
	header {
		background-image: url(../img/home/1440p.jpg);
	}
	.intro-text {
		margin-left: 8%;
	}
	
}
