/*---- Teaser ----*/
 
 header {
   background-attachment: scroll;
   background-image: url(../img/home/background.jpg);
   background-position: center center;
   background-repeat: none;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   border: 0px;
   min-height: 800px !important;
   z-index: 0 !important;
}

.menu-install {
	background: #1d2d44 !important;
}

.menu-install:hover  {
	background: #2A6496 !important;
}

body {
    background: white;
}

.teaser-area  {
  margin-top:  -600px !important;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  color: #FFF;
  z-index: 10 !important;
}

.teaser-area .btn-primary {
    font-size: 24px;
    padding: 18px 24px;
    margin-top: 20px;
    background: #1d2d44;
    border: 1px solid #1d2d44;
}

.teaser-area .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    margin-top: 20px;
    background: #2A6496;
    border: 1px solid #2A6496;
}

.intro-text {
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.intro-text .intro-heading {
  margin-bottom: 22px;
  font-size: 58px;
  line-height: 60px;
}

.intro-text .intro-details {
  margin-bottom: 38px;
  font-size: 26px;
  line-height: 28px;
}

.home-features {
    margin-top: 70px;
    text-align: center;
}

.home-features .icon {
        font-size: 50px;
}

.home-features a {
  color: #1d2d44;
}

.home-features a:hover  {
  text-decoration: none;
  color: #2A6496;
  /*  color: #A1A1A1;*/
}

.users {
    margin-top: 90px;
    text-align: center;
}

.users h2 {
    font-weight: 300;
}

.home-social {
	margin-top: 70px;
	text-align: center;
}

.home-social .icon {
	font-size: 50px;
}

.home-social a {
/* 	color: #1d2d44; */
/* 	text-decoration: underline; */
}

.home-social a:hover  {
/* 	text-decoration: none; */
	color: #2A6496;
}
