/*---- Teaser ----*/

 header {
   background-attachment: scroll;
   background-image: url(../img/home/720p.jpg);
   background-position: 50% 100%;
   background-repeat: none;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   border: 0px;
   min-height: 800px !important;
   z-index: 0 !important;
}


.menu-install {
	background: #35537a !important;
}

.menu-install:hover  {
	background: #2A6496 !important;
}

body {
    background: white;
}

.teaser-area  {
  color: #FFF;
}

.teaser-area .btn-primary {
    font-size: 24px;
    padding: 18px 24px;
    margin-top: 20px;
    background: #35537a;
    border: 1px solid #35537a;
}

.teaser-area .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    margin-top: 20px;
    background: #2A6496;
    border: 1px solid #2A6496;
}

.intro-text {
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
    margin-top:  20%;
}

.intro-text h1 {
	font-size: 58px;
	line-height: 70px;
	text-shadow: 0px 0px 3px #000000;
}

.intro-text p {
	font-size: 26px;
	line-height: 36px;
	text-shadow: 0px 0px 3px #000000;
}

.home-features {
    margin-top: 70px;
    text-align: center;
}

.home-features .icon {
        font-size: 50px;
}

.home-features a:hover  {
  text-decoration: none;
  color: #2A6496;
}

.users {
    margin-top: 90px;
    text-align: center;
}

.users h2 {
    font-weight: 300;
}

.home-social {
	margin-top: 70px;
	text-align: center;
}

.social-feed {
	text-align: left;
}

.home-social .icon {
	font-size: 50px;
}

.home-social a {
/* 	color: #1d2d44; */
/* 	text-decoration: underline; */
}

.home-social a:hover  {
/* 	text-decoration: none; */
	color: #2A6496;
}


/* handle landscape */

/* mobile portrait */
@media only screen and (max-width: 700px) {
	header {
		background-image: url(../img/home/h900p.jpg);
		background-position: 5% 50%;
                min-height: 500px !important;
	}
	.teaser-area  {
                color: #FFF;
        }

        .teaser-area .btn-primary {
                font-size: 18px;
                padding: 12px 18px;
                margin-top: 10px;
                background: #35537a;
                border: 1px solid #35537a;
        }
        .teaser-area .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
                margin-top: 15px;
                background: #2A6496;
                border: 1px solid #2A6496;
        }
        .intro-text {
                margin-top:  10%;
        }
        .intro-text h1 {
		text-shadow: 0px 0px 3px #000000;
                font-size: 36px;
                line-height: 38px;
        }
        .intro-text p {
		text-shadow: 0px 0px 3px #000000;
		font-size: 18px;
                line-height: 20px;
        }
}

/* mobile landscape and small screens */
@media only screen and (min-width: 700px) and (max-width: 862px) {
	header {
		background-image: url(../img/home/720p.jpg);
                min-height: 800px !important;
		background-position: 20% 0%;
	}
	.intro-text {
		margin-left: 7%;
	}
}

/* mobile and super small screen hi DPI */
@media
only screen and ( -webkit-min-device-pixel-ratio: 1.5 ) and (min-width: 700px) and (max-width: 862px),
only screen and ( -moz-min-device-pixel-ratio: 1.5    ) and (min-width: 700px) and (max-width: 862px),
only screen and ( -o-min-device-pixel-ratio: 3/2      ) and (min-width: 700px) and (max-width: 862px),
only screen and ( min-devicepixel-ratio: 1.5          ) and (min-width: 700px) and (max-width: 862px),
only screen and ( min-resolution: 1.5dppx             ) and (min-width: 700px) and (max-width: 862px),
only screen and ( min-resolution: 160dpi              ) and (min-width: 700px) and (max-width: 862px) {
	header {
		background-image: url(../img/home/1080p.jpg);
                min-height: 800px !important;
		background-position: 20% 0%;
	}
	.intro-text {
		margin-left: 7%;
	}
}


/* small screens */
@media only screen and (min-width: 862px) and (max-width: 992px) {
	header {
		background-image: url(../img/home/720p.jpg);
	}
	.intro-text {
		margin-left: 8%;
	}
}

/* small screen, hi DPI */
@media
only screen and ( -webkit-min-device-pixel-ratio: 1.5    ) and (min-width: 862px) and (max-width: 992px),
only screen and ( -moz-min-device-pixel-ratio: 1.5       ) and (min-width: 862px) and (max-width: 992px),
only screen and ( -o-min-device-pixel-ratio: 3/2         ) and (min-width: 862px) and (max-width: 992px),
only screen and ( min-devicepixel-ratio: 1.5             ) and (min-width: 862px) and (max-width: 992px),
only screen and ( min-resolution: 1.5dppx                ) and (min-width: 862px) and (max-width: 992px),
only screen and ( min-resolution: 160dpi                 ) and (min-width: 862px) and (max-width: 992px) {
	header {
		background-image: url(../img/home/1080p.jpg);
	}
	.intro-text {
		margin-left: 8%;
	}
}

/* medium screen size */
@media only screen and (min-width: 992px) and (max-width: 1260px) {
	header {
		background-image: url(../img/home/720p.jpg);
	}
	.intro-text {
		margin-left: 0%;
	}
	
}

/* medium screen size, hi DPI */
@media
only screen and ( -webkit-min-device-pixel-ratio: 1.5    ) and (min-width: 992px) and (max-width: 1260px),
only screen and ( -moz-min-device-pixel-ratio: 1.5       ) and (min-width: 992px) and (max-width: 1260px),
only screen and ( -o-min-device-pixel-ratio: 3/2         ) and (min-width: 992px) and (max-width: 1260px),
only screen and ( min-devicepixel-ratio: 1.5             ) and (min-width: 992px) and (max-width: 1260px),
only screen and ( min-resolution: 1.5dppx                ) and (min-width: 992px) and (max-width: 1260px),
only screen and ( min-resolution: 160dpi                 ) and (min-width: 992px) and (max-width: 1260px) {
	header {
		background-image: url(../img/home/1080p.jpg);
	}
	.intro-text {
		margin-left: 0%;
	}
	
}

/* full hd screen size */
@media only screen and (min-width: 1260px) and (max-width: 2300px)  {
	header {
		background-image: url(../img/home/1080p.jpg);
	}
	.intro-text {
		margin-top: 12%;
		margin-left: -2%;
		margin-right: 5%;
	}
	
}

/* full hd screen size, hi DPI */
@media
only screen and ( -webkit-min-device-pixel-ratio: 1.5    ) and (min-width: 1260px) and (max-width: 2300px),
only screen and ( -moz-min-device-pixel-ratio: 1.5       ) and (min-width: 1260px) and (max-width: 2300px),
only screen and ( -o-min-device-pixel-ratio: 3/2         ) and  (min-width: 1260px) and (max-width: 2300px),
only screen and ( min-devicepixel-ratio: 1.5             ) and (min-width: 1260px) and (max-width: 2300px),
only screen and ( min-resolution: 1.5dppx                ) and (min-width: 1260px) and (max-width: 2300px),
only screen and ( min-resolution: 160dpi                 ) and (min-width: 1260px) and (max-width: 2300px){
		header {
		background-image: url(../img/home/1440p.jpg);
	}
	.intro-text {
		margin-top: 12%;
		margin-left: -2%;
		margin-right: 5%;
	}
}

/* larger than full hd screen size */
@media only screen and (min-width: 2300px) {
	header {
		background-image: url(../img/home/1440p.jpg);
		background-position: 5% 80%;
        min-height: 1000px !important;
	}
	.intro-text {
		margin-left: 0%;
	}
}
