.navbar-header .logo {
	width: 121px;
}

.banner img {
	padding: 15px 0;
}

div#getapps li{
	padding-left: 0;
}
#appstore, #googleplay, #desktopclient {
	opacity: 0.9;
}
img#sync-button {
	vertical-align: text-bottom;
}

div.footer-text {
	color: #AAAAAA;
	text-align: center;
	margin-bottom: 40px;
}

div.footer-social-icons > div {
	text-align: center;
	margin-bottom: -14px;
	margin-top: 7px;
}

div.footer-social-icons> div > a:hover {
	opacity: 0.8;
}

div.footer-social-icons img {
	margin: 0 1em 1em 0;
}

.banner ul#menu-header.nav>li.menu-get-owncloud {
	padding: 0 0 0 15px;
	margin-top: 7px;
	margin-left: 10px;
	background-color: #428BCA;
	border-radius: 6px;
	border-color: #357EBD}

.banner ul#menu-header.nav>li.menu-get-owncloud a{
	padding: 7px 16px 7px 0;
	line-height: 1.25;
	border-bottom: 0
}

.contribook_bloguserpicture img {
	margin-right: 0;
}

footer div.footer-nav>h4 {
	font-size: 1.125em;
	color: #FFFFFF;
}

i[class*='icon-'] {
	font-style: normal;
}

.home .row {
	padding-bottom: 20px;
}

p.socialicons > a > img {
	margin: 0 4px;
}

div.thumbnail > img {
	margin-bottom: 0;
}

.page.install h3 {
	margin-top: 0;
}

.home div.wrap > .content {
	background-size: 85% auto;
	background-position: top center;
}

.page-content-header > div > h1 {
	display: inline;
	margin-top: 0;
}

.page-content-header > div > a.rss-button {
	vertical-align: baseline;
	margin-left: 20px;
	color: rgb(206, 91, 0);
}

.page-content-header > div > form > input[type=text] {
	display: inline;
	width: 78%;
}

.banner ul#menu-header.nav>li.menu-commercial>a{
	color: #e8733b;
	
}

.banner ul#menu-header.nav>li:not(.menu-install) >a:hover {
	border-bottom: 2px solid white;
}

.banner ul#menu-header.nav>li>a {
	padding-bottom: 6px;
	font-size: 1em;
}

div.sub-nav {
	margin-top: -30px;
}

@media (max-width: 992px) {
	a.facebook-button {
		margin: 10px 0 !important;
	}
}

.home-header-image {
	display: block; 
	width: 80%; 
	min-width: 320px; 
	margin: 5em auto 10px;
}

@media (max-width: 991px) {
 	.home-header-image {
 		margin-top: 2em !important;
 	}
 }

li.top-nav-active > a {
	border-bottom: 2px solid white;
}

.news .contribook_bloguser {
	margin-right: -50px;
}

div.blog-social-icons > div img {
	width: 40px;
	margin: 0;
}

div.blog-social-icons > div a:hover {
	text-decoration: none;
}

article.post img {
	max-width: 100%;
	height: auto;
}

article.post figcaption {
	margin-top: -14px;
}

@media (max-width: 600px) {
	article.post figure {
		float: none;
	}
}

#meetup-embed-largest-owncloud {
	max-width: 400px;
}

div.box-head {
	display: none;
}

.home main div.image {
    background-image:
        url("../img/OC7_lblue.png");
    background-position:
        15px top;
    background-repeat:
        no-repeat;
    background-size:
        21.4% auto;
}
